* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
   display: flex;
}

.flex-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.page-L {
   width: 50%;
   height: 100%;
   margin-right: 0;
   background-size: cover !important;
   background: url('background2.jpg');
}

.language-container {
   margin: 1em;
   font-size: 1.8em;
   font-weight: 600;
   color: #FFFFFF;
}

.lang-chinese {
   margin-right: 1em;
}

.L-btn-container {
   display: flex;
   flex-direction: column; /* 垂直排列 */
   align-items: center; /* 水平居中 */
   justify-content: center; /* 垂直居中 */
}

.L-button {
   bottom: 0;
   font-weight: 600;
   font-size: 1.8em;
   color: #FFFFFF;
   position: absolute;
   margin-bottom: 1.5em;
}

.page-R {
   width: 100%;
   font-size: 10px;
}

.page-RT {
   height: 35%;
   margin-bottom: 0;
}

.icon {
   width: 45em !important;
   margin-right: 5em;
}

.icon2 {
   width: 25em;
}

.page-RM {
   height: 65%;
   background-color: #99d2bd;
   display: flex;
   flex-direction: column; /* 垂直排列 */
   align-items: center; /* 水平居中 */
   justify-content: center; /* 垂直居中 */
}

.title {
   color: #FFFFFF;
   font-weight: 600;

   width: 100%;
   display: flex;
   font-size: 5em;
   margin-bottom: 0.5em;
}

.title_eng {
   color: #FFFFFF;
   font-weight: 600;

   width: 100%;
   display: flex;
   
   margin-bottom: 1em;
}

.RM-1stTitle {
   margin-right: 0.5em;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.RM-2ndTitle {
   font-size: 5em;
   font-weight: 600;
   color: #ff0000;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.RM-3rdTitle {
   font-size: 5em;
   font-weight: 600;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toMeet-btn {
   width: 10em;
   height: 6em;
   font-weight: 600;
   margin: 1em 2.3em 0em;
   text-decoration: none;

   display: grid;
   text-align: center;
   place-content: center;
   
   color: #FFFFFF;
   background-color: #f56d6d;
   border-radius: 1em;
}

.toMeet-btn p {
   font-size: 35px;
}

.toMeet-btn .step1 {
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toMeet-btn:hover {
   background-color: #dc3434;
}

.toRepair-btn {
   width: 10em;
   height: 6em;
   font-weight: 600;
   margin: 1em 2.3em 0em;
   text-decoration: none;

   display: grid;
   text-align: center;
   place-content: center;

   color: #FFFFFF;
   background-color: #f7a15a;
   border-radius: 1em;
}

.toRepair-btn p {
   font-size: 35px;
}

.toRepair-btn .step2 {
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toRepair-btn:hover {
   background-color: #e78433;
}

@media screen and (max-width: 1600px) {
   .icon {
      width: 55em;
   }   

   /* .title {
      font-size: 4.15em;
   } */

   .toMeet-btn {
      font-size: 2.7em;
   }

   .toRepair-btn {
      font-size: 2.7em;
   }
}

@media screen and (max-width: 1500px) {
   .icon {
      width: 50em;
   }

   /* .title {
      font-size: 3.75em;
   } */
   
   .toMeet-btn {
      font-size: 2.4em;
   }

   .toRepair-btn {
      font-size: 2.4em;
   }
}

@media screen and (max-width: 1300px) {
   .icon {
      width: 45em;
   }
   
   /* .title {
      font-size: 3.35em;
   } */
   
   .toMeet-btn {
      font-size: 2.15em;
   }

   .toRepair-btn {
      font-size: 2.15em;
   }
}
