body {
   margin: 0;
   padding:0;
   font-family: sans-serif;
}

.bg {
   position: absolute;
   z-index: -1;
   width: 100vw;
   height: auto;
}

section {
   position: fixed;
   height: 100vh;
   background-color: #FFFFFF;
   width: 100vw;
}

.language-container {
   position: absolute;
   right: 0;
   margin: 2vw 3.5vw 0vw;
   font-size: 1.5vw;
   font-weight: 600;
   color: #679ae1;
}

.lang-t { 
   color: inherit;
   margin-right: 1em;
   text-decoration: none;
}

.lang-eng { 
   color: inherit;
   text-decoration: none;
}

.maintenance-t-btn {
   position: absolute;
   right: 0;
   margin: 44.5% 17.5vw 0%;
   height: 3vw;
}

.maintenance-en-btn {
   position: absolute;
   right: 0;
   margin: 44.5% 17.5vw 0%;
   height: 3vw;
}

.btn-container {
   display: flex;
   margin-left: 6vw;
}

.floor {
   font-weight: 600;
   font-size: 3.5vw;
   margin: 26% 7vw 0%;
}

.btn-outline {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   margin-top: 4.5%;
   width: 15.75vw;
   height: 11.5vw;
   background-color: #FFBB69;
   padding: 0.5vw;
   margin-left: 1.5vw;
   border-radius: 2.5vw;
   border: #f86b00 0.175vw solid;
}

.btn-bg {
   width: 100%;
   height: 100%;
   border-radius: 1.85vw;
   background-color: #ffd797;
}

.btn-title {
   width: 80%;
   height: 30%;
   z-index: 999;
   margin-top: -2.35vw;
   margin-left: 1.45vw;
   border-radius: 1vw;
   background-color: #F05A23;

   display: flex;
   align-items: center;
   justify-content: center;
}

.btn-title p {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 1.75vw;
}

.inner-btn-container {
   display: grid;
   place-content: center;
}

.inner-btn-t {
   background-color: #FFFFFF;
   border-radius: 1.85vw;
   margin-top: 1vw;
   font-size: 1.5vw;
   font-weight: 600;
   padding: 0.75vw 0.5vw 0.75vw;
   color: inherit;
   cursor: pointer;
   text-decoration: none;
   border: #FFFFFF 0.175vw solid;
}

.inner-btn2-t {
   background-color: #FFFFFF;
   border-radius: 1.85vw;
   margin-top: 3vw;
   font-size: 1.75vw;
   font-weight: 600;
   padding: 0.75vw 2vw 0.75vw;
   cursor: pointer;
   color: inherit;
   text-decoration: none;
   border: #FFFFFF 0.175vw solid;
}

.inner-btn-t:hover, .inner-btn2-t:hover {
   color: #FFFFFF;
   background-color: #679ae1;
   border: #FFFFFF 0.175vw solid;
}

.inner-btn-en {
   background-color: #FFFFFF;
   border-radius: 1.85vw;
   margin-top: 1.25vw;
   font-size: 1.125vw;
   font-weight: 600;
   padding: 0.75vw 0.5vw 0.75vw;
   color: inherit;
   cursor: pointer;
   text-decoration: none;
   border: #FFFFFF 0.175vw solid;
}

.inner-btn2-en {
   background-color: #FFFFFF;
   border-radius: 1.85vw;
   margin-top: 3.5vw;
   font-size: 1.5vw;
   font-weight: 600;
   padding: 0.75vw;
   cursor: pointer;
   color: inherit;
   text-decoration: none;
   border: #FFFFFF 0.175vw solid;
}

.inner-btn-en:hover, .inner-btn2-en:hover {
   color: #FFFFFF;
   background-color: #679ae1;
   border: #FFFFFF 0.175vw solid;
}

.notify { 
   width: 80vw;
   height: auto;
   z-index: 999;
   padding: 1.5em;
   position: fixed;
   visibility: hidden;
   text-align: justify;
   background-color: #FFFFFF;
   box-shadow: 2px 2px 5px 5px #0005;

   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.notify p { 
   font-size: 1.25em;
   margin-bottom: 25px;
}

.accept-btn { 
   cursor: pointer;
   width: 5em;
   padding: 10px;
   font-weight: 600;
   color: #FFFFFF;
   border-radius: 10px;
   background-color: #fa9d50;

   display: flex;
   align-items: center;
   justify-content: center;
}

.accept-btn:hover { 
   background-color: #e6802c;
}

.disAccept-btn {
   cursor: pointer;
   width: 5em;
   padding: 10px;
   font-weight: 600;
   color: #FFFFFF;
   margin-left: 6em;
   border-radius: 10px;
   background-color: #df4b4b;

   display: flex;
   align-items: center;
   justify-content: center;
}

.disAccept-btn:hover { 
   background-color: #c33e3e;
}

.acceptBtn-container {
   display: flex;
   align-items: center;
   justify-content: center;
}
