* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
   display: flex;
}

.flex-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.page-L {
   width: 50%;
   height: 100%;
   margin-right: 0;
   background-size: cover !important;
   background: url('./image/background.jpg');
}

.language-container {
   margin: 1em;
   font-size: 2em;
   font-weight: 600;
   color: #FFFFFF;
}

.lang-chinese {
   margin-right: 1em;
}

.L-btn-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.L-button {
   bottom: 0;
   font-size: 2em;
   font-weight: 600;
   color: #FFFFFF;
   position: absolute;
   margin-bottom: 1.5em;
}

.page-R {
   width: 100%;
   font-size: 10px;
}

.page-RT {
   height: 35%;
   margin-bottom: 0;
}

.icon {
   width: 50em;
   margin-right: 3.5em;
}

.icon2 {
   width: 28em;
}

.page-RM {
   height: 65%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background-color: #99d2bd;
}

.title {
   color: #FFFFFF;
   font-weight: 600;

   width: 100%;
   display: flex;
   font-size: 5.5em;
   margin-bottom: 0.5em;
}

.RM-1stTitle {
   margin-right: 0.5em;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.RM-2ndTitle {
   font-weight: 600;
   color: #ff0000;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.RM-3rdTitle {
   font-weight: 600;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toMeet-btn {
   width: 10em;
   height: 6em;
   font-weight: 600;
   font-size: 2.5em;
   margin: 0.5em 2.3em 0em;
   text-decoration: none;

   display: grid;
   text-align: center;
   place-content: center;
   
   color: #FFFFFF;
   background-color: #f56d6d;
   border-radius: 1em;
}

.toMeet-btn p {
   font-size: 1.5em;
}

.toMeet-btn .step1 {
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toMeet-btn:hover {
   background-color: #dc3434;
}

.toRepair-btn {
   width: 10em;
   height: 6em;
   font-weight: 600;
   font-size: 2.5em;
   margin: 0.5em 2.3em 0em;
   text-decoration: none;

   display: grid;
   text-align: center;
   place-content: center;

   color: #FFFFFF;
   background-color: #f7a15a;
   border-radius: 1em;
}

.toRepair-btn p {
   font-size: 1.5em;
}

.toRepair-btn .step2 {
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toRepair-btn:hover {
   background-color: #e78433;
}

@media screen and (max-width: 2600px) {
   .language-container {
      font-size: 2em;
   }

   .L-button {
      font-size: 2em;
   }

   .icon-container {
      font-size: 1em;
   }

   .title-container {
      font-size: 1em;
   }

   .btn-container {
      font-size: 1em;
   }
}

@media screen and (max-width: 1910px) {
   .language-container {
      font-size: 2.7em;
   }

   .L-button {
      font-weight: 600;
      font-size: 2.7em;
   }

   .icon-container {
      font-size: 1.385em;
   }

   .title-container {
      font-size: 1.32em;
   }

   .btn-container {
      font-size: 1.285em;
   }
}

@media screen and (max-width: 1700px) {
   .language-container {
      font-size: 2.4em;
   }

   .L-button {
      font-weight: 600;
      font-size: 2.4em;
   }

   .icon-container {
      font-size: 1.23em;
   }

   .title-container {
      font-size: 1.173em;
   }

   .btn-container {
      font-size: 1.14em;
   }
}

@media screen and (max-width: 1600px) {
   .language-container {
      font-size: 2.25em;
   }

   .L-button {
      font-weight: 600;
      font-size: 2.25em;
   }

   .icon-container {
      font-size: 1.153em;
   }

   .title-container {
      font-size: 1.1em;
   }

   .btn-container {
      font-size: 1.065em;
   }
}

@media screen and (max-width: 1500px) { 
   .language-container {
      font-size: 2em;
   }

   .L-button {
      font-weight: 600;
      font-size: 2em;
   }

   .icon-container {
      font-size: 1.025em;
   }

   .title-container {
      font-size: 0.975em;
   }

   .btn-container {
      font-size: 0.95em;
   }
}

@media screen and (max-width: 1300px) { 
   .language-container {
      margin: 1em;
      font-size: 1.8em;
   }

   .L-button {
      font-weight: 600;
      font-size: 1.8em;
   }

   .icon-container {
      font-size: 0.925em;
   }

   .title-container {
      font-size: 0.88em;
   }

   .btn-container {
      font-size: 0.85em;
   }
}

@media screen and (max-width: 1200px) { 
   .language-container {
      /* margin: 1.05em; */
      font-size: 1.635em;
   }

   .L-button {
      font-size: 1.635em;
   }

   .icon-container {
      font-size: 0.84em;
   }

   .title-container {
      font-size: 0.8em;
   }

   .btn-container {
      font-size: 0.775em;
   }
   
}

@media screen and (max-width: 1100px) { 
   .page-L {
      width: 33.35%;
   }

   .title { 
      font-size: 4.05em;
   }

   .language-container {
      font-size: 1.435em;
   }

   .L-button {
      font-size: 1.435em;
   }

   .page-R {
      width: 66.65%;
      font-size: 10px;
   }

   .icon-container {
      font-size: 0.74em;
   }

   .title-container {
      font-size: 0.95em;
   }
   
   .btn-container {
      font-size: 0.68em;
   }

}

