* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
}

body {
   display: flex;
}

.flex-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.page-L {
   width: 50%;
   height: 100%;
   margin-right: 0;
   background-size: cover !important;
   background: url('./image/background2.jpg');
}

.language-container {
   margin: 1em;
   font-size: 2em;
   font-weight: 600;
   color: #FFFFFF;
}

.lang-chinese {
   margin-right: 1em;
}

.L-btn-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.L-button {
   bottom: 0;
   font-size: 2em;
   font-weight: 600;
   color: #FFFFFF;
   position: absolute;
   margin-bottom: 1.5em;
}

.page-R {
   width: 100%;
   font-size: 10px;
}

.page-RT {
   height: 35%;
   margin-bottom: 0;
}

.icon {
   width: 50em;
   margin-right: 5.5em;
}

.icon2 {
   width: 28em;
}

.page-RM {
   height: 65%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background-color: #99d2bd;
}

.title {
   color: #FFFFFF;
   font-weight: 600;

   width: 100%;
   display: flex;
   font-size: 5.5em;
   margin-bottom: 0.5em;
}

.RM-1stTitle {
   margin-right: 0.5em;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.RM-2ndTitle {
   font-weight: 600;
   color: #ff0000;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.RM-3rdTitle {
   font-weight: 600;
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toMeet-btn {
   width: 10em;
   height: 6em;
   font-weight: 600;
   font-size: 2.35em;
   margin: 0.5em 2.3em 0em;
   text-decoration: none;

   display: grid;
   text-align: center;
   place-content: center;
   
   color: #FFFFFF;
   background-color: #f56d6d;
   border-radius: 1em;
}

.toMeet-btn p {
   font-size: 35px;
}

.toMeet-btn .step1 {
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toMeet-btn:hover {
   background-color: #dc3434;
}

.toRepair-btn {
   width: 10em;
   height: 6em;
   font-weight: 600;
   font-size: 2.35em;
   margin: 0.5em 2.3em 0em;
   text-decoration: none;

   display: grid;
   text-align: center;
   place-content: center;

   color: #FFFFFF;
   background-color: #f7a15a;
   border-radius: 1em;
}

.toRepair-btn p {
   font-size: 35px;
}

.toRepair-btn .step2 {
   text-shadow: 1px 1px 2px rgb(89, 86, 86);
}

.toRepair-btn:hover {
   background-color: #e78433;
}

@media screen and (max-width: 2600px) {
   .language-container {
      font-size: 2em;
   }

   .L-button {
      font-size: 2em;
   }

   .icon {
      width: 50em !important;
      margin-right: 5.5em;
   }
   
   .icon2 {
      width: 28em;
   }

   .title {
      font-size: 5.5em;
   }

   .toMeet-btn {
      font-size: 2.35em;
      margin: 0.5em 2.3em 0em;
   }

   .toRepair-btn {
      font-size: 2.35em;
      margin: 0.5em 2.3em 0em;
   }

   .toMeet-btn p {
      font-size: 40px;
   }

   .toRepair-btn p {
      font-size: 40px;
   }
}

@media screen and (max-width: 1600px) {
   .language-container {
      font-size: 2.25em;
   }

   .L-button {
      font-weight: 600;
      font-size: 2.25em;
   }

   .icon {
      width: 56em !important;
      margin-right: 6.3em;
   }
   
   .icon2 {
      width: 32em;
   }

   .title {
      font-size: 6.2em;
   }

   .RM-1stTitle {
      margin-top: -0.25em;
   }

   .toMeet-btn {
      font-size: 2.65em;
      margin: 0.5em 2.3em 0em;
   }

   .toRepair-btn {
      font-size: 2.65em;
      margin: 0.5em 2.3em 0em;
   }

   .toMeet-btn p {
      font-size: 43px;
   }

   .toRepair-btn p {
      font-size: 43px;
   }
}

@media screen and (max-width: 1500px) { 
   .language-container {
      font-size: 2em;
   }

   .L-button {
      font-weight: 600;
      font-size: 2em;
   }

   .icon {
      width: 50em !important;
      margin-right: 5.5em;
   }
   
   .icon2 {
      width: 28em;
   }

   .title {
      font-size: 5.55em;
   }

   .RM-1stTitle {
      margin-top: -0.15em;
   }

   .toMeet-btn {
      font-size: 2.4em;
      margin: 0.5em 2.3em 0em;
   }

   .toRepair-btn {
      font-size: 2.4em;
      margin: 0.5em 2.3em 0em;
   }

   .toMeet-btn p {
      font-size: 38.5px;
   }

   .toRepair-btn p {
      font-size: 38.5px;
   }
}

@media screen and (max-width: 1300px) { 
   .language-container {
      margin: 1em;
      font-size: 1.8em;
   }

   .L-button {
      font-weight: 600;
      font-size: 1.8em;
   }

   .icon {
      width: 45em !important;
      margin-right: 5em;
   }
   
   .icon2 {
      width: 25em;
   }

   .title {
      font-size: 5em;
      margin-bottom: 0.5em;
   }

   .RM-1stTitle {
      margin-top: 0em;
   }

   .toMeet-btn {
      font-size: 2.15em;
      margin: 0.5em 2.3em 0em;
   }

   .toRepair-btn {
      font-size: 2.15em;
      margin: 0.5em 2.3em 0em;
   }

   .toMeet-btn p {
      font-size: 35px;
   }

   .toRepair-btn p {
      font-size: 35px;
   }
}

@media screen and (max-width: 1200px) { 
   .language-container {
      /* margin: 1.05em; */
      font-size: 1.635em;
   }

   .L-button {
      font-size: 1.635em;
   }

   .icon {
      width: 41em !important;
      margin-right: 4.2em;
   }

   .icon2 {
      width: 22em;
   }

   .title { 
      font-size: 4.6em;
   }

   .toMeet-btn {
      font-size: 1.95em;
      margin: 0.35em 2.3em 0em;
   }

   .toRepair-btn {
      font-size: 1.95em;
      margin: 0.35em 2.3em 0em;
   }

   .toMeet-btn p {
      font-size: 32px;
   }

   .toRepair-btn p {
      font-size: 32px;
   }
   
}

@media screen and (max-width: 1100px) { 
   .page-L {
      width: 33.35%;
   }

   .title { 
      font-size: 4.05em;
   }

   .language-container {
      font-size: 1.435em;
   }

   .L-button {
      font-size: 1.435em;
   }

   .page-R {
      width: 66.65%;
      font-size: 10px;
   }

   .icon {
      width: 36em !important;
      margin-right: 3.7em;
   }

   .icon2 {
      width: 19.65em;
   }
   
   .toMeet-btn {
      font-size: 1.73em;
      margin: 0.25em 2.3em 0em;
   }

   .toRepair-btn {
      font-size: 1.73em;
      margin: 0.25em 2.3em 0em;
   }

   .toMeet-btn p {
      font-size: 28px;
   }

   .toRepair-btn p {
      font-size: 28px;
   }

}

